<h1 id="tableLabel">Cálculo do CDB</h1>

<p>
  Preencha os campos corretamente para fazer uma simulação:
</p>

<form [formGroup]="calculoForm" (ngSubmit)="calcular()">
  <label class="form-label" for="valor">Valor para investimento:</label>
  <input type="number" id="valor" formControlName="valor" />

  <label class="form-label" for="meses">Meses para resgatar o investimento:</label>
  <input type="number" id="meses" formControlName="meses" />

  <input type="submit" value="Calcular" />
</form>

<p *ngIf="calculando"><em>Calculando...</em></p>
<p *ngIf="!calculando && !deuCertoCalculo"><em>Deu erro ao calcular investimento: {{ erro }}</em></p>

<div id="resultado" *ngIf="!calculando && resultadoCalculo && deuCertoCalculo">
  <dl>
    <dt>Valor inicial investido:</dt>
    <dd>{{ resultadoCalculo.valorInicial | currency:'BRL' }}</dd>
    <dt>Data da liquidação do investimento:</dt>
    <dd>{{ resultadoCalculo.dataRetirada | date:'dd/MM/yyyy' }}</dd>
    <dt>Valor bruto:</dt>
    <dd>{{ resultadoCalculo.valorBruto | currency:'BRL' }}</dd>
    <dt>Porcentagem do imposto:</dt>
    <dd>{{ resultadoCalculo.porcentagem | percent:'1.2-2' }}</dd>
    <dt>Valor líquido:</dt>
    <dd>{{ resultadoCalculo.valorLiquido | currency:'BRL' }}</dd>
  </dl>
</div>
